<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type, message| %>
      <p><%= message %></p>
    <% end %>
    <%= yield %>
  </body>
  <footer>
    <section id="github_api_stats">
    <h3>Repository Statistics</h3>
      <h4>Contributors</h2>
      <% @contributors.each do |contributor| %>
        <section id="github-user-section-<%= contributor.id %>">
          <h5><%= contributor.username %></h5>
          <p>Commits: <%= contributor.commit_count %></p>
        </section>
        <br/>     
      <% end %> 
    </section>
  </footer>
</html>
